.card-title {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: bold;
}

.card-img {
    position: relative;
    margin: 0;
}

.card-img > img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.card-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--font-color);
}

.card {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: min-content;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--card-color);
}

.card > p {
    margin: 10px 0;
}

.card > a {
    display: inline-block; 
    background-color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--link-color);
}